name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') }}
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:rawhide
      options: --privileged --cap-add=SYS_ADMIN

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: dnf install -y make R-core R-rpm-macros R2spec && mkdir -p ~/.cache

      - name: Run tests
        run: make test
